<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
  <form name="articleForm" class="form-horizontal col-md-6" role="form" data-ng-submit="update(articleForm.$valid)" novalidate>
    <!--Book Title-->
    <div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.title.$invalid }">
      <label mean-token="'edit-title'" for="title" class="col-md-2 control-label">Title</label>
      <div class="col-md-10">
        <input name="title" type="text" class="form-control" data-ng-model="article.title" id="title" placeholder="What is the book's title?" required>
        <div ng-show="submitted && articleForm.title.$invalid" class="help-block">
          <p ng-show="articleForm.title.$error.required">Title is required</p>
        </div>
      </div>

    </div>
	<!--Book Price-->
    <div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.price.$invalid }">
      <label mean-token="'edit-price'" for="price" class="col-md-2 control-label">Price</label>
      <div class="col-md-10">
        <input name="price" type="text" class="form-control" data-ng-model="article.price" id="price" placeholder="Enter your asking price in dollars (e.g. $25.00), or put 'Best Offer'" required>
        <div ng-show="submitted && articleForm.price.$invalid" class="help-block">
          <p ng-show="articleForm.price.$error.required">A price is required</p>
        </div>
      </div>
    </div>		
	
	<!--Author-->
    <div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.author.$invalid }">
      <label mean-token="'edit-author'" for="author" class="col-md-2 control-label">Author</label>
      <div class="col-md-10">
        <input name="author" type="text" class="form-control" data-ng-model="article.author" id="author" placeholder="Enter the name of the author" required>
        <div ng-show="submitted && articleForm.author.$invalid" class="help-block">
          <p ng-show="articleForm.author.$error.required">An author is required</p>
        </div>
      </div>
    </div>	
	<!--Image URL-->
    <div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.image.$invalid }">
      <label mean-token="'edit-image'" for="image" class="col-md-2 control-label">Image URL</label>
      <div class="col-md-10">
        <input name="image" type="text" class="form-control" data-ng-model="article.image" id="image" placeholder="Enter a link to an image of the book" required>
        <div ng-show="submitted && articleForm.image.$invalid" class="help-block">
          <p ng-show="articleForm.image.$error.required">An image path is required</p>
        </div>
      </div>
    </div>
	<!--Book Description-->
    <div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.content.$invalid }">
      <label mean-token="'edit-content'" for="content" class="col-md-2 control-label">Description</label>
      <div class="col-md-10">
        <textarea name="content" data-ng-model="article.content" id="content" cols="30" rows="10" placeholder="Enter any other important details about the book (quality, pickup location, etc.)" class="form-control" required></textarea>
        <div ng-show="submitted && articleForm.content.$invalid" class="help-block">
          <p ng-show="articleForm.content.$error.required">Description is required</p>
        </div>
      </div>
    </div>
	<!--Submit Button-->
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button mean-token="'edit-submit'" type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</section>
