<style>
.search{
	float = left;
	height = 100%;
	width = 180px;
}
.articles{
	float = right;
	margin-left: 190px;
}

</style>

<section data-ng-controller="ArticlesController" data-ng-init="find()">
<div class="search">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

    Search: 
	<input ng-model="query">
	Sort by:<br> 
	<select ng-model="orderProp">
		<option value="author">Author</option>
		<option value="created">Date</option>
		<option value="content">Description</option>
		<option value="user.name">Seller</option>
		<option value="title">Title</option>
	</select>
    </div>
<div class = "articles">
  <ul class="articles unstyled">
    <li data-ng-repeat="article in articles | filter:query | orderBy:orderProp">
      <h2>
        <a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a>
		<img ng-src="{{article.image}}" height="50" width="50"/>
      </h2>
      <div>Author: {{article.author}}</div>
      <div>Description: {{article.content}}</div>
	  <div>Price: {{article.price}}</div>
      <span>Posted on {{article.created | date:'medium'}}</span> by
      <span>{{article.user.name}}</span>
        <span data-ng-if="hasAuthorization(article)">
          <a class="btn" href="/#!/articles/{{article._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="remove(article);">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </span>
    </li>
  </ul>
  <h1 data-ng-hide="!articles || articles.length">No posts were found matching your query</h1>
</div>
</section>
