<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
  <h2>{{article.title}}</h2>
  <div>By: {{article.author}}</div>
  <img ng-src="{{article.image}}"/>
  <div>{{article.content}}</div>
  <div>{{article.price}}</div>
    <div data-ng-if="hasAuthorization(article)">
    <a class="btn" href="/#!/articles/{{article._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn" data-ng-click="remove(article);">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
 <span>Posted on {{article.created | date:'medium'}} by {{article.user.name}}</span>
 
	<!-- Comments section -->
  <div class="comments">
  Comments about this book:
  <ul>
	<li data-ng-repeat="comment in article.comments"> {{comment}}</li>
  </ul>
	<!--Add a comment -->
  <form name="articleForm" class="form-horizontal col-md-6" role="form" data-ng-submit="update(articleForm.$valid)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.comment.$invalid }">
      <label mean-token="'edit-comment'" for="comment" class="col-md-2 control-label">Add a comment</label>
      <div class="col-md-10">
        <textarea name="comment" data-ng-model="article.comment" id="comment" cols="30" rows="10" placeholder="Make a new comment." class="form-control" required></textarea>
        <div ng-show="submitted && articleForm.comment.$invalid" class="help-block">
          <p ng-show="articleForm.comment.$error.required">You cannot submit an empty comment!</p>
        </div>
      </div>
    </div>
	<!--Submit Button-->
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button mean-token="'edit-submit'" type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
  </div>
</section>
