<section class="welcome container-fluid" data-ng-controller="IndexController">
<!--In-Line Stylesheet--> 
<style>
.head{

}
.blurb {

}
.logo{
	text-align: center
}
.foot{
	text-align: center;
}
</style>

<div class = "head">
	<h1>TextbookTrader</h1>
	<h2>Welcome to TextbookTrader,</h2>
	The service which allows students to buy and sell textbooks from one another at amazing prices!
</div>
<div class = "blurb">
	Sign-in or click join to register. Once you have an account, you can:
	<ul>
		<li>Browse for textbooks with the "Buy" tab</li>
		<li>Put textbooks up for sale with the "Sell" tab</li>
		<li>Comment on posts</li>
		<li>Edit and remove your own posts</li>
	<ul>
</div>
<div class = "logo">
	<img src = "/packages/system/public/assets/img/logo.png" alt="The TextbookTrader logo. A symbol of awesomeness.">
</div>
<div class = "foot">
	TextbookTrader logo derived in part from Freepik's <a href="http://www.flaticon.com/packs/students"> open-source icon pack</a>.
</div>
</section>
